ts-tabs.gray_theme {
  background-color: #D5D5D5;
}
ts-tabs.gray_theme > *[slot=tab_tip] {
  background-color: #EEE;
  color: #777;
  border: solid thin #BBB;
  border-bottom: none;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.5em 1em;
  margin-left: 4px;
}

ts-tabs.gray_theme > *[slot=tab_tip][active] {
  color: black;
  background-color: white;
  border-color: black;
}
